<h1>Weather Forecast</h1>
<h4>Address:</h4>
<div>
    <input style="width:70%" data-bind="value:locationVm.address" />
    <button data-bind="click: locationVm.getLatLong" style="padding-left: 10px">Submit</button>
    <button v-on:click="locateByIp" style="padding-left: 10px">Find Me</button>
    (<i>
        <span data-bind="text:locationVm.latitude"></span>,
        <span data-bind="text:locationVm.longitude"></span>
    </i>)
</div>
<hr style="border:1px solid black" />

<div data-bind="if:forecastVmObs">
    <h4>Currently:</h4>
    <span data-bind="text:forecastVmObs().CurrentSummary"></span>
    and <span data-bind="text:forecastVmObs().CurrentTemp"></span>f
</div>


@section scripts {
    @Scripts.Render("~/bundles/app")
    <script>
        var app = new App();
        ko.applyBindings(app);
    </script>
}